<aside class="col-3 border border-blue bg-white p-2">
	<article class="card mb-3">
		<div class="card-header">
			Menu
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_menu_index') }}">Liste des menus</a>
			</p>
			<p>
				<a href="{{ path('admin_menu_add') }}">Ajouter un menu</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Plats
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_carte_index') }}">Liste des plats</a>
			</p>
			<p>
				<a href="{{ path('admin_carte_add') }}">Ajouter un plat</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Horaires
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_hour_index') }}">Modifier les horaires</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Reservation
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_reservation_index') }}">Liste des réservation</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Image
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('admin_image_add') }}">Ajouter un image</a>
			</p>
		</div>
	</article>
</aside>
