{% if pages > 1 %}
	<nav aria-label="Page navigation example ">
		<ul class="pagination p-2">
			{% if currentPage > 1 %}
				<li class="page-item">
					<a class="page-link" href="{{ path(path, {slug: slug, page: currentPage - 1}) }}">&lt;</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link">&lt;</a>
				</li>
			{% endif %}
			{% for page in 1..pages %}
				<li class="page-item {{( page == currentPage) ? 'active' : '' }} ">
					<a class="page-link" href="{{ path(path, {slug: slug, page: page}) }}">{{ page }}</a>
				</li>
			{% endfor %}
				{% if currentPage < pages %}
				<li class="page-item">
					<a class="page-link" href="{{ path(path, {slug: slug, page: currentPage + 1}) }}">&gt;</a>
					</li>
				{% else %}
				<li class="page-item disabled">
					<a class="page-link ">&gt;</a>
					</li>
				{% endif %}
		</ul>
	</nav>
{% endif %}
