{% extends 'base.html.twig' %}

{% block title %}
	{{slug.name}}
{% endblock %}

{% block body %}
{% for voiture in voitures.data %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{asset('assets/upload/voitures/mini/250x250-' ~ voiture.images[0].name)}}" class="card-img-top rounded mx-auto d-block w-50" alt="Image non trouvée">
    </div>
    <div class="carousel-item">
      <img src="{{asset('assets/upload/voitures/mini/250x250-' ~ voiture.images[1].name)}}" class="card-img-top rounded mx-auto d-block w-50" alt="Image non trouvée">
    </div>
    <div class="carousel-item">
      <img src="{{asset('assets/upload/voitures/mini/250x250-' ~ voiture.images[2].name)}}" class="card-img-top rounded mx-auto d-block w-50" alt="Image non trouvée">
    </div>
  </div>
</div>
	<h1 class="card-title">{{voiture.name}}</h1>
	<p class="card-text">
		<div class="card text-bg-secondary mb-3" style="max-width: 63rem;">
			<div class="card-header fw-bold">Information</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item">Année :
						{{voiture.year}}
					</li>
					<li class="list-group-item">Carburant :
						{{voiture.fuel}}
					</li>
					<li class="list-group-item">Kilométrage :
						{{voiture.miles}}
						Km</li>
					<li class="list-group-item">Prix :
						{{voiture.price}}
						€</li>
				</ul>
			</div>
		</div>
		<div class="card text-bg-secondary mb-3" style="max-width: 63rem;">
			<div class="card-header fw-bold">Tableau de caractéristiques</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item">{{voiture.feat1}}</li>
					<li class="list-group-item">{{voiture.feat2}}</li>
					<li class="list-group-item">{{voiture.feat3}}</li>
				</ul>
			</div>
		</div>
		<div class="card text-bg-secondary mb-3" style="max-width: 63rem;">
			<div class="card-header fw-bold">Option</div>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item">{{voiture.op1}}</li>
					<li class="list-group-item">{{voiture.op2}}</li>
					<li class="list-group-item">{{voiture.op3}}</li>
				</ul>
			</div>
		</div>
	</p>
</div></div></div>
{{ form_start(addForm)}}
{{ form_row(addForm.Subject, {'value' : slug.name}) }}
{{ form_row(addForm.Lastname) }}
{{ form_row(addForm.Firstname) }}
{{ form_row(addForm.Address) }}
{{ form_row(addForm.ZipCode) }}
{{ form_row(addForm.City) }}
{{ form_row(addForm.Mail) }}
{{ form_row(addForm.Phone) }}
{{ form_row(addForm.Message) }}
<button type="submit" class="btn btn-primary mb-3">{{ button_label|default('Envoyer') }}</button>
{{ form_end(addForm) }}{% endfor %}
{% endblock %}
