{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="row row-cols-1 row-cols-md-4 g-4">
		{% for contact in pagination %}
			<div class="col">
				<div class="card bg-body-secondary">
					<div class="card-body">
						<div class="col">
							<h5 class="card-title fw-bold">{{contact.subject}}</h5>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Nom :
								{{contact.lastname}}</li>
							<li class="list-group-item">Prénom :
								{{contact.firstname}}</li>
							<li class="list-group-item">Adresse :
								{{contact.address}}</li>
							<li class="list-group-item">Email :
								{{contact.mail}}</li>
							<li class="list-group-item">Télephone :
								{{contact.phone}}</li>
							<li class="list-group-item">Code Postal :
								{{contact.zipcode}}</li>
							<li class="list-group-item">Ville :
								{{contact.city}}</li>
							<li class="list-group-item">Message :
								{{contact.message}}</li>
						</ul>
						<td>
							<button class="btn btn-danger">
								<a href="{{ path('app_user_delete',{id: contact.id})}}">Supprimer</a>
							</button>
						</td>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{{ knp_pagination_render(pagination) }}
{% endblock %}
{% block footer %}{% endblock %}