<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Garage V. Parrot
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('style/upload/IC16.png' )}}" type="image/x-icon" sizes="16x16" src=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{ asset('style/CSS/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('style/CSS/style.css') }}">


		<script src="{{ asset('style/JS/bootstrap.min.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('style/JS/scripts.js') }}" defer></script>

	</head>
	<body>
		{% block nav %}
			<nav class="navbar navbar-expand-lg bg-body-tertiary ">
				<div class="container-fluid nav ">
					<a class="navbar-brand" href="{{path('app_home')}}">
						<img src="{{ asset('style/upload/IC32.png' )}} " alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
						Garage V. Parrot
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active bt2 rounded-pill" aria-current="page" href="{{path('app_avis')}}">Avis</a>
							</li>
						</ul>
						<ul class="navbar nav ms-auto mb-2 mb-lg-0">
							{% if app.user %}
								{% if is_granted('ROLE_ADMIN') %}
									<li class="nav-item">
									<a class="nav-link active bt2 rounded-pill" href="{{path('app_admin_gestion')}}">Administration</a></li>
									<li class="nav-item">
										<a class="nav-link active bt2 rounded-pill" href="{{path('admin_app_register')}}">Inscription</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active bt2 rounded-pill" href="{{path('admin_app_validation')}}">Validation</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active bt2 rounded-pill" href="{{path('app_admin_add')}}">Ajouter un véhicule</a>
									</li>
								</li>
							{% elseif is_granted('ROLE_USER') %}
								<li class="nav-item">
									<a class="nav-link active bt2 rounded-pill" href="{{path('app_validation')}}">Validation</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active bt2 rounded-pill" href="{{path('app_user_add')}}">Ajouter un véhicule</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active bt2 rounded-pill" aria-current="page" href="{{path('app_user_contact')}}">Contact</a>
								</li>
							{% endif %}
							<img src="{{asset('style/upload/croix-cercle.svg')}}" alt="" width="24" height="24">
							<a class="m-1 fw-bold nav-link rounded-pill bt2" href="{{path('app_logout')}}">Me Déconnecter</a>
						{% else %}
							<img src="{{asset('style/upload/utilisateur.svg')}}" alt="" width="24" height="24">
							<a class="m-1 fw-bold nav-link rounded-pill bt2" href="{{path('app_login')}}">Me Connecter</a>
						{% endif %}
					</ul>
				</div>
				{% include "_partials/_flash.html.twig" %}</body>
		</body>
	</html>
</body></html></div></nav>{% endblock %}{% block body %}{% endblock %}{% block footer %}<footer><div class="d-inline-flex gap-1"><button class="btn btn-primary " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
Horaires</button></div><div class="collapse" id="collapseExample"><div class="card card-body">
{% for footer in footers.getfooter %}
	<ul>
		{# Boucle footer horaire jours #}
		<li class="list-group-item txt text-center border-1 fw-bold container-fluid">
			<h3>{{footer.days}}</h3>
		</li>

		{# Boucle footer horaire matin #}
		{% if footer.AMHO == 0 or footer.AMHC == 0 %}
			<li class="list-group-item txt text-center border-2 container-fluid">
				Matin : Fermé</li>
		{% else  %}
			<li class="list-group-item txt text-center border-2 container-fluid">
				Matin :
				{{footer.AMHO}}h -
				{{footer.AMHC}}h</li>
		{% endif %}
		{# Boucle footer horaire soir #}
		{% if footer.PMHO == 0 or footer.PMHC == 0 %}
			<li class="list-group-item txt text-center border-2 container-fluid">
				Matin : Fermé</li>
		{% else  %}
			<li class="list-group-item txt text-center border-2 container-fluid">Soir :
				{{footer.PMHO}}h -
				{{footer.PMHC}}h</li>
		{% endif %}
	</ul>
{% endfor %}</div></div></footer>{% endblock %}</body></html>
