<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Garage V. Parrot
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('style/upload/IC16.png' )}}" type="image/x-icon" sizes="16x16" src=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{{ asset('style/CSS/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('style/CSS/style.css') }}">


		<script src="{{ asset('style/JS/bootstrap.min.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('style/JS/scripts.js') }}" defer></script>

	</head>
	<body>
		{% block nav %}
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{path('app_home')}}">
						<img src="{{ asset('style/upload/IC32.png' )}} " alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
						Garage V. Parrot
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{path('app_avis')}}">Avis</a>
							</li>
						</ul>
						<ul class="navbar nav ms-auto mb-2 mb-lg-0">
							{% if app.user %}
								{% if is_granted('ROLE_ADMIN') %}
									<li
										class="nav-item">{# <a class="nav-link nav-link bt1 m-3 fs-2 fw-bold" href="{{path('admin_index')}}">Administration</a>#}
									</li>
								{% endif %}
								<img src="{{asset('style/upload/croix-cercle.svg')}}" alt="" width="24" height="24">
								<a class="m-1 fw-bold nav-link rounded-pill" href="{{path('app_logout')}}">Me Déconnecter</a>
							{% else %}
								<img src="{{asset('style/upload/utilisateur.svg')}}" alt="" width="24" height="24">
								<a class="m-1 fw-bold nav-link rounded-pill" href="{{path('app_login')}}">Me Connecter</a>
							{% endif %}
						</ul>
					</div>
				</body>
			</html>
		</body>
	</html>
</div></nav>{% endblock %}{% block body %}{% endblock %}{% block footer %}<footer>
<ul class="list-group list-group-horizontal">
	<li class="list-group-item">An item</li>
	<li class="list-group-item">A second item</li>
	<li class="list-group-item">A third item</li>
</ul>
<ul class="list-group list-group-horizontal-sm">
	<li class="list-group-item">An item</li>
	<li class="list-group-item">A second item</li>
	<li class="list-group-item">A third item</li>
</ul></footer>{% endblock %}</body></html>
