{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule
{% endblock %}

{% block body %}

	<main class="container">
		<section class="row">
			<div class="col-12 bg-body-secondary">
				<h1>Ajouté un véhicule</h1>
				{{ form_start(addForm) }}
				{{ form_row(addForm.name) }}
				{{ form_row(addForm.price) }}
				{{ form_row(addForm.year) }}
				{{ form_row(addForm.Fuel) }}
				{{ form_row(addForm.miles) }}
				{{ form_row(addForm.Op1) }}
				{{ form_row(addForm.Op2) }}
				{{ form_row(addForm.Op3) }}
				{{ form_row(addForm.Feat1) }}
				{{ form_row(addForm.Feat2) }}
				{{ form_row(addForm.Feat3) }}
				{{ form_row(addForm.image) }}
				<button type="submit" class="btn mt-3">Envoyer</button>
				{{ form_end(addForm) }}
			</section>
		</main>
	{% endblock %}
	{% block footer %}{% endblock %}
